html {
    scroll-behavior: smooth;
}

body {
    background-color: white;
    margin: 0px;
}

/* typography */

h1 {
    font-size: 40px;
    font-family: 'Quicksand', sans-serif;
    color: mediumorchid;
    font-style: bold;

}

h2 {
    font-size: 30px;
    font-family: 'Quicksand', sans-serif;
    color: mediumorchid;
    font-style: bold;

}

p{
    font-size: 16px;
    font-family: 'Quicksand', sans-serif;
    color: mediumorchid;
}

nav {
    padding: 10px;
    position: fixed;
    width: 100%;
    background-color: white;
}

.nav-links {
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
    width: 200px;
    text-align: center;
}

.nav-links li {
    display: inline-block;
}

.nav-links li a {
    padding-left: 10px;
    padding-right: 5px;
    text-color: white;
}

.button-link {
    border-style: solid;
    border-color: crimson;
    background-color: cornsilk;
    color: black;
    padding: 4px;
    border-width: 2px;
    border-radius: 10px;
    display: block;
    text-align: center;
    width: 150px;
    margin-top: 20px;
}

.button-alert {
    border-style: solid;
    border-color: blueviolet;
    background-color: cyan;
    color: black;
    padding: 4px;
    border-width: 2px;
    border-radius: 10px;
    display: block;
    text-align: center;
    width: 150px;
    margin-top: 20px;
}

.top-banner {
    height: 240px;
    text-align: center;
    padding-top: 120px;
    max-width: 100%;
    background-color:blueviolet;
    background-image: url("https://i.pinimg.com/originals/9b/0b/b5/9b0bb5a800a102a5a3fafda7de853d94.jpg");
    background-size: cover;
    background-attachment: fixed;
}

.main-content {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 10px;
}

footer {
    height: 240px;
    text-align: center;
    max-width: 100%;
    padding-top: 110px;
    background-color:blueviolet;
}

/* Mobile styles */

@media only screen and (max-width: 600px) {
    /* Mobile styles go here */

    body {
        background-color: black;
    }

    p {
        font-size: 18px;
        color: white;
    }

    h1 {
        color: white;
    }

    h2 {
        color: white;
    }
}